.cart-inventory {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    text-align: center;
    font-size: larger;
    height: 100vh;
    color: bisque;
    text-decoration: none;
}

.total {
    font-size: 1rem;
    text-align: center;
    color: black;
    align-items: center;
    border: 1% solid black;
    border-radius: 3%;
    margin: auto;
    width: 10%;
    background-color: aliceblue;
    background-size: contain;
    text-decoration: double;
}

@media (min-width: 768px) {
    .cart-inventory {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
        color: bisque;
        text-decoration: none;
    }
    .total {
        font-size: 1rem;
        text-align: center;
        color: black;
        margin: auto;
        width: 20%;
        padding: 1%;
        background-color: aliceblue;
        background-size: contain;
    }
}

@media only screen and (max-width: 532px) {
    .cart-inventory {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
        color: bisque;
        text-decoration: none;
    }
    .total {
        font-size: 1rem;
        text-align: center;
        color: black;
        margin: auto;
        width: 20%;
        padding: 1%;
        background-color: aliceblue;
        background-size: contain;
    }
}