    .body {
        font-size: 62.5%;
        width: 100%;
        height: 100%;
        background-color: black;
    }
    
    .navbar-nav {
        margin-left: 30rem;
        gap: 3rem;
        max-height: 6rem;
        justify-content: space-between;
    }
    
    .nav li {
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        margin-top: 2rem;
    }
    
    .nav li:hover {
        zoom: 110%;
        overflow: hidden;
        color: rgb(230, 230, 230);
    }
    
    .btn-link {
        border-radius: 2%;
        text-decoration: none;
        color: chocolate;
    }
    
    .btn-link a {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: chocolate;
        font-size: large;
        text-decoration: none;
    }
    
    .btn-link a:hover {
        color: chocolate;
        text-decoration: none;
    }
    
    .nav-active {
        text-decoration: none;
        font-weight: bold;
    }
    
    .cart {
        width: 100%;
        float: right;
        height: 10rem;
        padding: 1rem;
    }
    
    .navigate {
        background-color: rgb(249, 109, 9);
        text-decoration: none;
    }
    
    .logo {
        width: 55%;
    }
    
    @media only screen and (max-width: 1200px) and (min-width: 415px) {
        .body {
            font-size: 62.5%;
            width: 100%;
            height: 100%;
            background-color: black;
        }
        .navbar-nav {
            margin: auto;
            max-height: 7.5rem;
            gap: 0.2rem;
            justify-content: space-between;
            font-size: 1rem;
        }
    }
    
    @media (max-width: 575.98px) {
        .body {
            font-size: 62.5%;
            width: 100%;
            height: 100%;
            background-color: black;
        }
        .navbar-nav {
            margin: auto;
            max-height: 7.5rem;
            gap: 0.2rem;
            justify-content: space-between;
            font-size: 1rem;
        }
    }