.item-cont {
    width: 25%;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1em 5em -1em black;
    -moz-box-shadow: 0 1em 5em -1em black;
    box-shadow: 0 1em 5em -1em black;
}

.item-cont div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 5px 5px;
}

.btn-handle {
    max-width: 15%;
    border-radius: 10px;
    border: black 2px solid;
}

.read {
    font-size: 0.55rem;
    border-radius: 10px;
    border: black 2px solid;
}

.item-cont button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 12px;
    background-color: #fff7fe;
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
}

@media (max-width: 575.98px) {
    .item-cont {
        width: 100%;
        background-color: none;
        padding: 2%;
        border-radius: 1.5%;
        -webkit-box-shadow: 0 1em 5em -1em black;
        -moz-box-shadow: 0 1em 5em -1em black;
        box-shadow: 0 1em 5em -1em black;
        color: chocolate;
    }
    .item-cont div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .read {
        font-size: 0.55rem;
        border-radius: 1.5%;
        border: black 1% solid;
        width: 70%;
    }
    .item-cont button {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 12px;
        background-color: #0c0b0b;
        width: 100%;
        padding: 5px;
        margin: 5px 0px;
        font-size: small;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 415px) {
    .item-cont {
        width: 100%;
        background-color: none;
        padding: 2%;
        border-radius: 1.5%;
        -webkit-box-shadow: 0 1em 5em -1em black;
        -moz-box-shadow: 0 1em 5em -1em black;
        box-shadow: 0 1em 5em -1em black;
        color: chocolate;
    }
    .item-cont div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .read {
        font-size: 0.55rem;
        border-radius: 1.5%;
        border: black 1% solid;
        width: 70%;
    }
    .item-cont button {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 12px;
        background-color: #0c0b0b;
        width: 100%;
        padding: 5px;
        margin: 5px 0px;
        font-size: small;
    }
}